#FASTQ	SAMPLEID	DATASET	REFERENCE_GRCh38_GRCm38	SEQUENCING_CENTRE	PLATFORM	RUN_TYPE_SINGLE_PAIRED	LIBRARY
ERR188022_1.fastq.gz	NA12812	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	1
ERR188022_2.fastq.gz	NA12812	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	1
ERR188024_1.fastq.gz	NA12749	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	2
ERR188024_2.fastq.gz	NA12749	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	2
ERR188027_1.fastq.gz	NA07056	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	3
ERR188027_2.fastq.gz	NA07056	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	3
ERR188032_1.fastq.gz	NA12275	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	4
ERR188032_2.fastq.gz	NA12275	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	4
ERR188039_1.fastq.gz	NA12144	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	5
ERR188039_2.fastq.gz	NA12144	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	5
ERR188047_1.fastq.gz	NA06994	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	6
ERR188047_2.fastq.gz	NA06994	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	6
ERR188048_1.fastq.gz	NA12489	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	7
ERR188048_2.fastq.gz	NA12489	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	7
ERR188049_1.fastq.gz	NA11931	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	8
ERR188049_2.fastq.gz	NA11931	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	8
ERR188051_1.fastq.gz	NA12830	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	9
ERR188051_2.fastq.gz	NA12830	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	9
ERR188058_1.fastq.gz	NA12005	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	10
ERR188058_2.fastq.gz	NA12005	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	10
ERR188061_1.fastq.gz	NA12761	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	11
ERR188061_2.fastq.gz	NA12761	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	11
ERR188062_1.fastq.gz	NA11992	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	12
ERR188062_2.fastq.gz	NA11992	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	12
ERR188067_1.fastq.gz	NA11831	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	13
ERR188067_2.fastq.gz	NA11831	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	13
ERR188076_1.fastq.gz	NA12006	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	14
ERR188076_2.fastq.gz	NA12006	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	14
ERR188077_1.fastq.gz	NA11893	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	15
ERR188077_2.fastq.gz	NA11893	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	15
ERR188081_1.fastq.gz	NA12814	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	16
ERR188081_2.fastq.gz	NA12814	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	16
ERR188086_1.fastq.gz	NA11892	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	17
ERR188086_2.fastq.gz	NA11892	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	17
ERR188092_1.fastq.gz	NA12546	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	18
ERR188092_2.fastq.gz	NA12546	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	18
ERR188099_1.fastq.gz	NA12843	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	19
ERR188099_2.fastq.gz	NA12843	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	19
ERR188100_1.fastq.gz	NA12762	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	20
ERR188100_2.fastq.gz	NA12762	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	20
ERR188101_1.fastq.gz	NA10847	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	21
ERR188101_2.fastq.gz	NA10847	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	21
ERR188107_1.fastq.gz	NA12342	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	22
ERR188107_2.fastq.gz	NA12342	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	22
ERR188122_1.fastq.gz	NA11894	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	23
ERR188122_2.fastq.gz	NA11894	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	23
ERR188134_1.fastq.gz	NA12827	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	24
ERR188134_2.fastq.gz	NA12827	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	24
ERR188140_1.fastq.gz	NA12716	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	25
ERR188140_2.fastq.gz	NA12716	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	25
ERR188142_1.fastq.gz	NA12287	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	26
ERR188142_2.fastq.gz	NA12287	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	26
ERR188148_1.fastq.gz	NA12282	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	27
ERR188148_2.fastq.gz	NA12282	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	27
ERR188152_1.fastq.gz	NA12751	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	28
ERR188152_2.fastq.gz	NA12751	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	28
ERR188157_1.fastq.gz	NA12872	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	29
ERR188157_2.fastq.gz	NA12872	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	29
ERR188161_1.fastq.gz	NA11918	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	30
ERR188161_2.fastq.gz	NA11918	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	30
ERR188172_1.fastq.gz	NA12154	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	31
ERR188172_2.fastq.gz	NA12154	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	31
ERR188176_1.fastq.gz	NA07357	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	32
ERR188176_2.fastq.gz	NA07357	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	32
ERR188177_1.fastq.gz	NA12234	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	33
ERR188177_2.fastq.gz	NA12234	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	33
ERR188181_1.fastq.gz	NA12413	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	34
ERR188181_2.fastq.gz	NA12413	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	34
ERR188196_1.fastq.gz	NA12717	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	35
ERR188196_2.fastq.gz	NA12717	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	35
ERR188202_1.fastq.gz	NA06989	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	36
ERR188202_2.fastq.gz	NA06989	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	36
ERR188213_1.fastq.gz	NA06986	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	37
ERR188213_2.fastq.gz	NA06986	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	37
ERR188216_1.fastq.gz	NA12873	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	38
ERR188216_2.fastq.gz	NA12873	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	38
ERR188217_1.fastq.gz	NA11832	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	39
ERR188217_2.fastq.gz	NA11832	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	39
ERR188220_1.fastq.gz	NA12400	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	40
ERR188220_2.fastq.gz	NA12400	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	40
ERR188227_1.fastq.gz	NA12874	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	41
ERR188227_2.fastq.gz	NA12874	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	41
ERR188228_1.fastq.gz	NA12829	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	42
ERR188228_2.fastq.gz	NA12829	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	42
ERR188229_1.fastq.gz	NA12044	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	43
ERR188229_2.fastq.gz	NA12044	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	43
ERR188235_1.fastq.gz	NA11930	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	44
ERR188235_2.fastq.gz	NA11930	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	44
ERR188244_1.fastq.gz	NA12718	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	45
ERR188244_2.fastq.gz	NA12718	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	45
ERR188246_1.fastq.gz	NA11840	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	46
ERR188246_2.fastq.gz	NA11840	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	46
ERR188256_1.fastq.gz	NA12777	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	47
ERR188256_2.fastq.gz	NA12777	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	47
ERR188262_1.fastq.gz	NA12283	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	48
ERR188262_2.fastq.gz	NA12283	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	48
ERR188272_1.fastq.gz	NA11881	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	49
ERR188272_2.fastq.gz	NA11881	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	49
ERR188277_1.fastq.gz	NA12340	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	50
ERR188277_2.fastq.gz	NA12340	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	50
ERR188279_1.fastq.gz	NA12776	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	51
ERR188279_2.fastq.gz	NA12776	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	51
ERR188291_1.fastq.gz	NA12813	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	52
ERR188291_2.fastq.gz	NA12813	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	52
ERR188301_1.fastq.gz	NA11994	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	53
ERR188301_2.fastq.gz	NA11994	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	53
ERR188308_1.fastq.gz	NA12760	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	54
ERR188308_2.fastq.gz	NA12760	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	54
ERR188319_1.fastq.gz	NA12249	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	55
ERR188319_2.fastq.gz	NA12249	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	55
ERR188324_1.fastq.gz	NA07347	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	56
ERR188324_2.fastq.gz	NA07347	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	56
ERR188325_1.fastq.gz	NA06984	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	57
ERR188325_2.fastq.gz	NA06984	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	57
ERR188327_1.fastq.gz	NA06985	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	58
ERR188327_2.fastq.gz	NA06985	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	58
ERR188331_1.fastq.gz	NA12155	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	59
ERR188331_2.fastq.gz	NA12155	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	59
ERR188336_1.fastq.gz	NA12004	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	60
ERR188336_2.fastq.gz	NA12004	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	60
ERR188339_1.fastq.gz	NA12815	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	61
ERR188339_2.fastq.gz	NA12815	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	61
ERR188348_1.fastq.gz	NA11995	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	62
ERR188348_2.fastq.gz	NA11995	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	62
ERR188349_1.fastq.gz	NA12842	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	63
ERR188349_2.fastq.gz	NA12842	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	63
ERR188350_1.fastq.gz	NA12399	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	64
ERR188350_2.fastq.gz	NA12399	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	64
ERR188354_1.fastq.gz	NA12775	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	65
ERR188354_2.fastq.gz	NA12775	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	65
ERR188371_1.fastq.gz	NA11920	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	66
ERR188371_2.fastq.gz	NA11920	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	66
ERR188376_1.fastq.gz	NA07037	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	67
ERR188376_2.fastq.gz	NA07037	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	67
ERR188377_1.fastq.gz	NA12045	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	68
ERR188377_2.fastq.gz	NA12045	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	68
ERR188388_1.fastq.gz	NA12341	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	69
ERR188388_2.fastq.gz	NA12341	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	69
ERR188389_1.fastq.gz	NA10851	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	70
ERR188389_2.fastq.gz	NA10851	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	70
ERR188396_1.fastq.gz	NA12383	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	71
ERR188396_2.fastq.gz	NA12383	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	71
ERR188404_1.fastq.gz	NA12750	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	72
ERR188404_2.fastq.gz	NA12750	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	72
ERR188410_1.fastq.gz	NA12156	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	73
ERR188410_2.fastq.gz	NA12156	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	73
ERR188413_1.fastq.gz	NA12890	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	74
ERR188413_2.fastq.gz	NA12890	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	74
ERR188414_1.fastq.gz	NA12043	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	75
ERR188414_2.fastq.gz	NA12043	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	75
ERR188415_1.fastq.gz	NA12058	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	76
ERR188415_2.fastq.gz	NA12058	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	76
ERR188420_1.fastq.gz	NA12763	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	77
ERR188420_2.fastq.gz	NA12763	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	77
ERR188426_1.fastq.gz	NA11843	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	78
ERR188426_2.fastq.gz	NA11843	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	78
ERR188429_1.fastq.gz	NA12889	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	79
ERR188429_2.fastq.gz	NA12889	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	79
ERR188431_1.fastq.gz	NA12273	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	80
ERR188431_2.fastq.gz	NA12273	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	80
ERR188433_1.fastq.gz	NA11829	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	81
ERR188433_2.fastq.gz	NA11829	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	81
ERR188435_1.fastq.gz	NA11830	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	82
ERR188435_2.fastq.gz	NA11830	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	82
ERR188438_1.fastq.gz	NA12272	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	83
ERR188438_2.fastq.gz	NA12272	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	83
ERR188441_1.fastq.gz	NA12348	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	84
ERR188441_2.fastq.gz	NA12348	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	84
ERR188446_1.fastq.gz	NA12347	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	85
ERR188446_2.fastq.gz	NA12347	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	85
ERR188467_1.fastq.gz	NA12286	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	86
ERR188467_2.fastq.gz	NA12286	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	86
ERR188474_1.fastq.gz	NA07051	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	87
ERR188474_2.fastq.gz	NA07051	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	87
ERR188477_1.fastq.gz	NA12778	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	88
ERR188477_2.fastq.gz	NA12778	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	88
ERR188481_1.fastq.gz	NA07048	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	89
ERR188481_2.fastq.gz	NA07048	CEPH	GRCh38	Geuvadis	ILLUMINA	PAIRED	89
