#FASTQ	SAMPLEID	DATASET	REFERENCE_GRCh38_GRCm38	SEQUENCING_CENTRE	PLATFORM	RUN_TYPE_SINGLE_PAIRED	LIBRARY
ERR188214_1.fastq.gz	NA18486	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	1
ERR188214_2.fastq.gz	NA18486	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	1
ERR188311_1.fastq.gz	NA18488	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	2
ERR188311_2.fastq.gz	NA18488	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	2
ERR188151_1.fastq.gz	NA18489	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	3
ERR188151_2.fastq.gz	NA18489	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	3
ERR188044_1.fastq.gz	NA18498	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	4
ERR188044_2.fastq.gz	NA18498	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	4
ERR188449_1.fastq.gz	NA18499	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	5
ERR188449_2.fastq.gz	NA18499	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	5
ERR188158_1.fastq.gz	NA18502	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	6
ERR188158_2.fastq.gz	NA18502	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	6
ERR188273_1.fastq.gz	NA18505	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	7
ERR188273_2.fastq.gz	NA18505	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	7
ERR188162_1.fastq.gz	NA18508	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	8
ERR188162_2.fastq.gz	NA18508	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	8
ERR188165_1.fastq.gz	NA18510	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	9
ERR188165_2.fastq.gz	NA18510	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	9
ERR188097_1.fastq.gz	NA18511	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	10
ERR188097_2.fastq.gz	NA18511	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	10
ERR188060_1.fastq.gz	NA18517	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	11
ERR188060_2.fastq.gz	NA18517	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	11
ERR188200_1.fastq.gz	NA18519	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	12
ERR188200_2.fastq.gz	NA18519	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	12
ERR188085_1.fastq.gz	NA18520	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	13
ERR188085_2.fastq.gz	NA18520	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	13
ERR188375_1.fastq.gz	NA18858	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	14
ERR188375_2.fastq.gz	NA18858	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	14
ERR188278_1.fastq.gz	NA18861	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	15
ERR188278_2.fastq.gz	NA18861	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	15
ERR188298_1.fastq.gz	NA18867	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	16
ERR188298_2.fastq.gz	NA18867	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	16
ERR188344_1.fastq.gz	NA18868	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	17
ERR188344_2.fastq.gz	NA18868	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	17
ERR188373_1.fastq.gz	NA18870	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	18
ERR188373_2.fastq.gz	NA18870	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	18
ERR188313_1.fastq.gz	NA18873	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	19
ERR188313_2.fastq.gz	NA18873	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	19
ERR188283_1.fastq.gz	NA18907	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	20
ERR188283_2.fastq.gz	NA18907	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	20
ERR188223_1.fastq.gz	NA18908	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	21
ERR188223_2.fastq.gz	NA18908	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	21
ERR188352_1.fastq.gz	NA18909	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	22
ERR188352_2.fastq.gz	NA18909	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	22
ERR188442_1.fastq.gz	NA18910	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	23
ERR188442_2.fastq.gz	NA18910	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	23
ERR188182_1.fastq.gz	NA18912	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	24
ERR188182_2.fastq.gz	NA18912	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	24
ERR188269_1.fastq.gz	NA18916	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	25
ERR188269_2.fastq.gz	NA18916	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	25
ERR188139_1.fastq.gz	NA18917	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	26
ERR188139_2.fastq.gz	NA18917	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	26
ERR188409_1.fastq.gz	NA18923	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	27
ERR188409_2.fastq.gz	NA18923	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	27
ERR188096_1.fastq.gz	NA18933	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	28
ERR188096_2.fastq.gz	NA18933	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	28
ERR188447_1.fastq.gz	NA18934	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	29
ERR188447_2.fastq.gz	NA18934	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	29
ERR188128_1.fastq.gz	NA19092	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	30
ERR188128_2.fastq.gz	NA19092	YRI	GRCh38	Geuvadis	ILLUMINA	PAIRED	30
